body {
    background-color: aqua;
}

.title {
    font-weight: normal;
}

.content {
    color: blue;
}

nav {
    background-color: darkolivegreen;
    display: block;
}

flex-container {
    display: flex;
    flex-wrap: wrap;
}